@import '_app';

body.index {
  height: 100vh;
  display: flex;

  .store {
    &-badges {
      margin: auto;
    }

    &-badge {
      margin: 0.25rem;

      > img {
        height: 3.625rem;
      }
    }
  }
}
